<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Management App</title>
    <link href="/webjars/bootstrap/5.3.8/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.13.1/font/bootstrap-icons.min.css">
    <link href="/css/header.css" rel="stylesheet">
</head>
<body>
{#include pub/header /}
<main>
    <div class="container mt-2">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">Actions</th>
                <th scope="col">Name</th>
                <th scope="col">Execution Id</th>
                <th scope="col">Last Run StartTime</th>
                <th scope="col">Last Run EndTime</th>
                <th scope="col">Last Run Status</th>
            </tr>
            </thead>
            <tbody>
            {#for job in jobs}
                {#include JobsResource/jobRow job=job /}
            {/for}
        </table>
    </div>
</main>
<script src="/webjars/htmx.org/2.0.7/dist/htmx.min.js"></script>
<script src="/webjars/htmx-ext-ws/2.0.3/dist/ws.js"></script>
</body>
</html>